html {
	box-sizing: border-box;
	// background: blue;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	padding-bottom: 80px;
}

article, header.section, section {
	color: $color__secondary;
	padding-top:30px;
}
blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
.img-responsive {
	width:100%;
	height:auto;
}
figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}
.slider-content {
	padding-top: 20px;
	margin: 1.5em 0 0;
}
@import "tables";
/// @import "grid"; => import in the main style.scss

@media (min-width: 769px) {
	.site-header {
		.col-sm-4 {
		    min-height: 110px;
		    display: table;
		}
		.col-sm-4 > *:first-child {
			display: table-cell;
	    vertical-align: bottom;
		}
	}
}
.header-search-form {
	form {
	    text-align: right;
	}
	.search-submit {
		display: none;
	}
}
aside {
	margin-top: 8px;
}
.hide {
	display: none;
}
