a {
	text-decoration: none;

	color: $color__secondary;

	&:visited {
		color: $color__secondary;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__primary;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
